@font-face {
  font-family: 'CircularXX';
  font-weight: 100;
  src: local('CircularXXWeb-Light'), url('../../src/fonts/CircularXXWeb-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXX';
  font-weight: 400;
  src: local('CircularXXWeb-Book'), url('../../src/fonts/CircularXXWeb-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXX';
  font-weight: 450;
  src: local('CircularXXWeb-Medium'), url('../../src/fonts/CircularXXWeb-Medium.woff') format('woff2');
}

@font-face {
  font-family: 'CircularXX';
  font-weight: 500;
  src: local('CircularXXWeb-Medium'), url('../../src/fonts/CircularXXWeb-Medium.woff') format('woff2');
}

@font-face {
  font-family: 'CircularXX';
  font-weight: 700;
  src: local('CircularXXWeb-Bold'), url('../../src/fonts/CircularXXWeb-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXX';
  font-weight: 900;
  src: local('CircularXXWeb-Bold'), url('../../src/fonts/CircularXXWeb-Bold.woff2') format('woff2');
}
