@import './fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'CircularXX', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input {
  border: none;
}

a {
  color: #fff;
  text-decoration: none;
}
