@import '/src/styles/index.scss';
@import '/src/styles/platform.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding: 36px 24px;
}

.controlButtons {
  display: flex;
  column-gap: 30px;
}

.tasksWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 25px;
}
